body {
    height: 100%;
    width: 100%;
    background-color: #8b8989;
}

.nav-top,
.nav-bottom,
.home-top-banner {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    color: white;
}

.nav-top ul,
.nav-bottom ul {
    float: right;
    margin: 20px;
}

.nav-top ul li,
.nav-bottom ul li,
.home-nav-top ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 10px;
}

.nav-bottom ul li {
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.home-container,
.contact-container {
    height: 700px;
    width: 100%;
    background: url('https://static.pexels.com/photos/7070/space-desk-workspace-coworking.jpg');
}

.home-container div {
    text-align: center;
    padding-top: 170px;
    color: white;
}

.portfolio-header,
.capabilities-header {
    height: 300px;
    width: 100%;
    background: url('https://static.pexels.com/photos/291/black-and-white-city-landmark-lights.jpg');
}

.portfolio-header div {
    text-align: center;
    padding-top: 250px;
    color: black;
}

.capabilities-header {
    background: url('https://static.pexels.com/photos/1018/mountains-nature-sunny-bridge.jpg');
}

.contact-container {
    background: url('https://static.pexels.com/photos/8252/hand.jpg');
}

.contact-container div {
    color: black;
}

.home-container,
.portfolio-header,
.capabilities-header,
.contact-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-nav-top {
    position: relative;
    margin-top: -87px;
}

.project-one, .project-two {
    height: 410px;
    width: 700px;
    position: relative;
    margin: 20px auto;
}

.capabilities-header {
    width: 100%;
}

.capabilities-main {
    width: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 10px;
    text-align: center;
    margin: 10px auto;
}

.skills {
    width: 50%;
    margin-top: 40px;
}









