body {
    height: 100%;
    width: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRobBGPbAB8Yimq_zbt5OALcLCmRdMZ2wqLT2ofLnGVk2KqIBiG')
}

.nav {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0px auto;
}

.nav ul {
    float: right;
}

.nav ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

.nav ul li a {
    text-decoration: none;
}

.routerView {
    position: relative;
    background-color: azure;
    height: 700px;
    width: 90%;
    margin: 0px auto;
}