.productList {
    width: 30%;
    border: 1px solid blue;
    margin: 10px auto;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.addProductForm {
    text-align: center;
}